.gigCard {
  width: 324px;
  height: 500px;
  border-radius: .75rem;
  transition: all 250ms ease-out;
	transform: translate3d(0,0,0);
	background: #FFFFFF;
	box-shadow: 0 8px 16px -4px rgba(0,0,0,0.10);

  // border: 1px solid rgb(237, 236, 236);
  border: 1px solid rgb(228, 228, 228);
  margin-bottom: 40px;

  header {
		img {
			border-radius: .75rem .75rem 0 0 ;
			display: block;
			width: 100%;
			height: auto;
			margin: 0 auto 1.5rem;
			text-align: center;
			box-shadow: 0 8px 16px -6px rgba(0,0,0,0.5);
		}
		width: 100%;
		text-align: center;
		display: block;
		margin: 0 auto;
	}

  .info {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
      }
    }

    p {
      margin: 5px 0;
      color: #111;
    }

    .star {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        height: 14px;
        width: 14px;
      }

      span {
        font-size: 14px;
        font-weight: bold;
        color: #ffc108;
      }

    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(228, 228, 228);
  }

  .detail {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 16px;
      height: 16px;
      cursor: pointer;
      object-fit: cover;
    }

    .price {
      span {
        color: #999;
        font-size: 12px;
      }

      h2 {
        color: #555;
        font-size: 18px;
        font-weight: 400;
        text-align: end;
      }

      sup {
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}