.banner{
    display: flex;
    justify-content: center;
    height: 340px;
    padding: 50px 0px;

    .container {
      width: 90%;
      background-color: rgb(57, 89, 232);
      height: 100%;
      display: flex;
     .text-jee{
       padding: 30px;
       width: 100%;


      h1{


       color: white;
      }

    }
      .items {
        width: 100%;
        text-align: end;
        height: 100%;
        img{

          }
      }
}

}