
.page_404 {
    padding: 20px 0;
    background: #fff;
    font-family: "Arvo", serif;
    text-align: center;

    .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;

      h1 {
    font-size: 56px;
  }

      h3 {
    font-size: 36px;
  }
  }
  .link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #d12709;
    margin: 10px 0;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
  }



  }
